@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    /* border: 1px solid red; */
}
body{
    background-color: #F2F2F2;
    color:#5c73c2;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.container{
    padding-left: 2rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    height: 40rem;
    margin-top:1rem;

}
i{
    color:#ccc;
}
h1{
    margin-left: -2rem;
    width: 25rem;
    font-size: 4.5rem;
}
.form{
    height: 35rem;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25rem;
    padding: 0 3rem 3rem 3rem;
}
form{
    width: 20rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}
select,input{
    /* text-align: right; */
    height: 2.3rem;
    width: 100%;
    margin-bottom: 1.5rem;;
    border-radius: .21rem;
    outline: none;
    border: 1px solid #ccc;
    padding-left: .5rem;
}
 select{
    width: 20.5rem;
 }
input[type="submit"]{
    height: 2.5rem;
    color:#fff;
    margin-top: 1rem;;
    width: 20.7rem;
    font-size: 1.5rem;
    font-weight: 800;
    background-color: #2D72F1;
}
.right{
    text-align: center;
    width:40rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tasks{
    border-radius: 1rem;
    padding: 1rem;
    height:10rem;
    width: 30rem;
    background-color: #fff;
    display: flex;
}
.rest-details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    width: 75%;
    height: 10rem;
    padding-left: 1rem;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    overflow: hidden;
    width: 4.5rem;
    border-radius: 50%;
    box-shadow: 1px 1px 5px .0002px #000;
    margin-right: 1rem;
}
img{
    margin-top: -.41rem;
    margin-left: -.11rem;
    width: 3.2rem;
}
.row1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.priority{
    padding:.1rem .5rem;
    background-color: #ff2b8a;
    color: white;
    border-radius: .2rem;
}
.task-name{
    color:#636AB2;
}
.tags{
    padding:.1rem .5rem;
    background-color: #ddd;
    border-radius: .2rem;
    margin-right: .5rem;
}
.reactions{
    display: flex;
    justify-content: space-between;
}
.date{
    color: #ccc;
    font-weight: 500;
}