@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    margin:0;
    background-color: #F7F8FC;
    /* width: 100%; */
    /* word-spacing: .02rem; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.player{
    box-shadow: 2px 2px 8px #a5e5a8;
    background-color: #fff;
    /* border: 1px solid red; */
    width: 16rem;
    padding: 1rem;
}

.now-playing {
    /* line-height: .1rem; */
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: baseline;
    margin-bottom: .1rem;
    justify-content: space-between;
}

.playing {
    font-size: .6rem;
    font-weight: 600;
    color: #a9aaad;
}

.singer {
    font-size: .55rem;
    font-weight: 800;
}

.song-detail {
    text-align: center;
}

.song-detail p {
    padding: 0;
    margin: 0;
}

.album {
    /* border: 1px solid red; */
    font-size: .8rem;
    font-weight: 800;
    margin: .1rem;
}

img {
    text-align: center;
    width: 85%;
    box-shadow: 1px 1px 5px 3px #ccc;
    margin: 1.6rem 2rem 3rem 2rem;
}

.pic {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


hr {
    text-align: center;
    height: 1.5px;
    width: 100%;
    margin: 0;
    border: 1px solid #ccc;
    background-color: #ccc;
    color: #ccc
}
.player-action{
    margin-bottom: 1rem;;
    font-size: 1.rem;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* ali */
}
.fa-circle-play{
    font-size: 2.5rem;
    color:#88898c;
}
.timeline {
    margin-top: -.5rem;
    display: flex;
    font-size: .6rem;
    font-weight: 500;
    justify-content: space-between;
    color: #88898c;
}

.non-playing-song-name {
    color: #88898c;
}

.playlist{
    font-weight: 600;
    font-size: .7rem;
}
.playlist-song{
    display: flex;
    justify-content: space-between;
}
span{
    font-size: .3rem;
    margin-right: .2rem;
}

.current-song{
    display: flex;
    align-items: center;
}