* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.outer-container {
    flex-direction: column;
    background-color: #2F2D3F;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img {
    width: 3rem;
    border-radius: 50%;
    border: 2px solid #fff;
}

#sanji {
    margin-left: 3rem;
}

#robin,
#nami {
    z-index: 2;
}

#robin {
    margin-left: 1.5rem;
}

#nami {
    margin-left: -6rem;
}

.container {
    overflow: hidden;
    width: 30rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.profile-pictures {
    display: inline;
    width: 50rem;
}

.top {
    height: auto;
    padding: .51rem;
    background-color: #FF6E6E;
    display: flex;
    justify-content: end;
    align-items: center;
}

.users {
    width: 60rem;
    flex-wrap: wrap;
    font-size: 1rem;
    color: #fff;
    margin-left: auto;
    margin-right: 2rem;
}

.user-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}
.user-div p{
    font-size: .8rem;
}
.bottom {
    flex: 2;
    background-color: #282639;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.active-chat-profile {
    padding:1rem;
    position: relative;
    flex: .5;
    margin: .5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.pointer {
    height: .7rem;
    width: .7rem;
    background-color: #3A384C;
    position: absolute;
    margin: 1.5rem 0 0 -55.5%;
    transform: rotate(45deg);
}

.chat-box {
    margin: .2rem .5rem .5rem 1.5rem;
    flex: 2;
    background-color: #3A384C;
    border-radius: .5rem;
    color: white;
    line-height: 1.2rem;
    padding: 1rem;
    margin-bottom: .7rem;
}

.message-box {
    height: 2rem;
    align-items: center;
    display: flex;
    border-radius: 20px;
    border: 1px solid #FF6E6E;
    overflow: hidden;
}

.message-box img {
    font-size: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    padding-left: .5rem;
    border: none;
}

.message {
    padding-left: .5rem;
    outline: none;
    height: 2rem;
    border: 1px solid #FF6E6E;
    width: 87%;
    border-radius: 20px 0 0 20px;
    background-color: #3A384C;
}

.cross {
    margin-top: 1rem;
    align-self: flex-end;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    background-color: #FF6E6E;
    color: #fff;
    border-radius: 50%;
    transform: rotate(45deg);
}

@media (max-width: 767px) {
    .container {
        width: 90%;
    }

    .top {
        flex-direction: column;
    }

    .user {
        justify-content: center;
        width: 10rem
    }

    .profile-pictures {
        width: 100%;
        text-align: center;
    }

    .chat-box p {
        text-align: left;
        height:100%;
    }

    h2,
    p,
    .users {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}