*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width:100%;
    background-color: #17213F;
}
.container {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    background-color: #17213F;
}

.breaking-bad {
    overflow: hidden;
    min-width:14rem;
    background-color: #0F162B;
    border-radius: 0.61rem;
    margin: .41rem;
    max-width: 30%;
}

.breaking-bad> img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

h2 {
    color: white;
    font-weight: 100;
}


h4 {
    font-size: 0.6rem;
    color: gray;
    padding-bottom: .5rem;
}

h3 {
    font-size: 1rem;
    color: gray;
    padding-top: .2rem;
    padding-bottom: 1rem;
}

.addnew {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    font-size: 1.2rem;
    height: 21rem;
    min-width:14rem;
    border: 2px solid #0F162B;
    background-color: #17213F;
}

.jesse .info img {
    width: 38rem;
    zoom: 10%;
}

.walter .info img {
    width: 33rem;
    zoom: 10%;
}

.hank .info img {
    width: 12rem;
    zoom: 15%;
}

h4 {
    margin: .21rem 0;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
}

.addnew-content {
    text-align: center;
}

@media (max-width: 768px) {
    .container{
        justify-content: center;
        flex-wrap: wrap;
        flex-grow: 1;
    }
    .breaking-bad{
        flex-direction: column;
        padding: 10px;
    }
    .breaking-bad> img {
        margin: -1rem 0 0 -0.8rem;
        width: 110%;
        height: 10rem;
        object-fit: cover;
    }
}